<div class="text-center p-8">
  <h1 class="text-2xl font-bold mb-4">Welcome</h1>
  <nav class="w-1/4 mx-auto">
    <ul class="menu bg-base-300 w-full rounded-box">
      <li><a href="/about-og">OG Retro Resume</a></li>
      <li><a href="/about-new">Newer Resume</a></li>
      <li><a href="/v2">V2 NEW SITE</a></li>
    </ul>
  </nav>
</div>
