<section class="section pixel-border">
  <div class="section-title">
    <h2>Summary</h2>
  </div>
  <p>
    Senior UX/UI Engineer and Front-End Developer with a proven track record in creating intuitive, responsive, and user-centric digital experiences. Expertise in bridging the gap between design and development, leveraging a diverse skill set including React, TypeScript, and SharePoint Framework. Proficient in working with and implementing various design systems, ensuring consistency and efficiency across projects.
  </p>
</section>